.billing-methods {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	font-size: 12px;
	line-height: 15px;

	li {
		width: 25%;
		padding: 5px;
		margin: 0 0 10px;
	}

	label {
		display: block;
		cursor: pointer;
		margin: 0;
	}

	.image-holder {
		display: block;
		padding: 5px;
		border: 1px solid transparent;
	}

	input[type="radio"] {
		opacity: 0;
		visibility: hidden;
		position: absolute;

		&:checked {
			+ .image-holder {
				border-color: #0c2f55;
			}
		}
	}

	.img {
		width: 40px;
		height: 40px;
		margin: 0 auto 5px;
		display: flex;
		align-items: center;
		background: #f5f5f5;
		justify-content: center;
		transition: all 0.4s ease;
	}

	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

.featured-box {
	.featured-box-icon {
		color: $primary-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $primary-color;
}

.newsletter .btn {
	background: $primary-color;
	border-color: $primary-color;
}

.logo a {
	font-size: 24px;
	line-height: 28px;

	.text-primary {
		font-weight: 700;
	}
}

form {
	.sub-heading {
		display: block;
		margin: -10px 0 5px;
		font-size: 14px;
		line-height: 18px;
		color: #000;
	}
}