

//-------------------- Fonts --------------------//

$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;


//-------------------- Base Colors --------------------//

$primary-color: 			#0b8f47;
$primary-color-hover: 		#0e7fd9;
$secondary-color: 			#000;

$text-color:				#535b61;
$body-bg:					#e7e9ed;
$wrapper-bg:				#f6f7f8;
$title-color:     			#0c2f54;


//-------------------- Social Icons Colors --------------------//

$facebook:                 #3B5998;
$twitter:                  #00ACEE;
$google:                   #DD4B39;
$linkedin:                 #0E76A8;
$youtube:                  #C4302B;
$instagram:                #3F729B;
$reddit:                   #C6C6C6;
$pinterest: 			   #cc2127;
$vk:                       #2B587A;
$rss:                      #EE802F;
$skype:                    #00AFF0;
$xing:                     #126567;
$tumblr:                   #34526F;
$email:                    #6567A5;
$delicious:                #205CC0;
$stumbleupon:              #F74425;
$digg:                     #191919;
$blogger:                  #FC4F08;
$flickr:                   #FF0084;
$vimeo:                    #86C9EF;
$yahoo:                    #720E9E;
$gplus:                    #DD4B39;
$appstore:                 #000;